html {
  font-family: sans-serif;
  color:white;
}
body {
  background-color: rgb(40, 40, 40);
}
.navoption {
  display: inline;
  margin: 20px;
  text-align: center;
  font-family:9px;
  cursor:pointer;
  text-decoration: none;
  color:white;
}
.navoption:hover {
  background-color:grey
}
button:hover {
  background-color:grey
}
select {
  cursor: pointer;
  outline: none;
  border-radius: 30px;
  user-select: none;
  background-color:rgb(20, 20 ,20);
  color:white;
  border: solid 3px;
  font-size: 30px;
}
.active_navoption:hover {
  background-color:grey
}
.active_navoption {
  display: inline;
  text-decoration: lightblue 5px solid underline;
  margin: 20px;
  text-align: center;
  font-family:9px;
  cursor: pointer;
  color:white;
}
#navbar {
  text-align: center;
  background-color: rgb(75, 75, 75);
  position: -webkit-sticky; /* Safari */
  position: sticky;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none;
  height: 30px;
  display: block;
}
button {
  cursor: pointer;
  outline: none;
  border-radius: 30px;
  user-select: none;
  background-color:rgb(20, 20 ,20);
  color:white;
  border: solid 3px;
  font-size: 30px;
}
